@import './variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 38px;
  width: 100%;
}

.text {
  line-height: 1.45em;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  img {
    margin: 10px 0;
  }

  @media (min-width: 660px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.screenshot {
  border: 1px solid $link-color;
  border-radius: $border-radius;
  cursor: pointer;
  padding: 2px;
}

.AccordionRoot {
  width: 100%;
  border: 1px solid $link-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;

  &>div {
    border-bottom: 1px solid $link-color;
  }

  &:last-child {
    border-bottom: none;
  }

  h3 {
    all: unset;
    display: flex;
    flex: 1;
  }
}

.AccordionTrigger {
  all: unset;
  color: $link-color;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 8px 10px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $link-color;
    color: $background-color;
    text-decoration: none;
  }
}

.AccordionChevron {
  transition: transform 300ms;
}

.AccordionTrigger[data-state="open"]>.AccordionChevron {
  transform: rotate(180deg);
}

.AccordionContent {
  border-top: 1px solid $link-color;
  padding: 10px;
}

.AccordionContentText>p {
  margin: 2% 0;
}
