.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 660px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(50px, auto);
    align-items: start;
    max-width: 700px;
    margin: 4% auto;
  }
}
